<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ProMan</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
   
    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )

    @Scripts.Render( "~/bundles/jquery" )

</head>

<body class="skin-black error-page">
    @RenderBody()

</body>
</html>
